@charset "UTF-8";

/*==========================================обнуление======================================================================*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */

input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */

input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */

/*==========================================обнуление======================================================================*/

/*==========================================Шрифт==========================================================================*/

/*==========================================Шрифт==========================================================================*/

/*==========================================Медиа==========================================================================*/

/*==========================================Медиа==========================================================================*/

.container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 0px 15px;
}

body {
  font-weight: 700;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
}

._lock {
  overflow: hidden;
}

/*==========================================header=========================================================================*/

.header::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #dbd4d4;
  z-index: 4;
  display: none;
}

/*==========================================splash-screen=========================================================================*/

.splash-screen {
  margin: 50px 0px 0px 0px;
}

.splash-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splash-screen__title {
  font-size: 64px;
  line-height: 78px;
  color: #252525;
  text-align: center;
}

.splash-screen__subtitle {
  margin: 30px 0px 0px 0px;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
}

.splash-screen__text {
  margin: 30px 0px 0px 0px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}

.splash-screen__flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.splash-flex-container {
  margin: 70px 0px 30px 0px;
}

.splash-flex-container__row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.splash-flex-container__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heptagon {
  padding: 30px 10px;
  margin: 0px 30px 0px 30px;
  outline: none;
  display: inline-block;
  height: 150px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #038681;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
          clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.heptagon:hover {
  background-color: #084240;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.heptagon span {
  text-align: center;
  overflow: hidden;
  max-height: 100px;
  padding: 10px 15px;
  position: relative;
  z-index: 2;
  color: #ffffff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

/*==========================================splash-screen=========================================================================*/